.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #0067A3;
    padding: 0.5rem; 
}

.header__title {
    color: #FFFFFF;
    font-family: "Roboto", "Helvetica", sans-serif;
    font-size: 1.75rem; 
    font-weight: 400;
    line-height: 1.2;
    text-align: left;
}

.header__user-menu {
    display: flex;
    justify-content: space-around;
    width: 4rem; 
    height: 2.5rem;
    margin-top: 0.4375rem; 
    margin-right: 0.5rem;
}

.user-avatar {
    width: 2.5rem; 
    height: 2.5rem; 
    border-radius: 50%;
}

.arrow-down {
    width: 0.75rem; 
    height: 0.46375rem; 
}
