.task-list {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    height: 10%;
}
  
.task {
    background-color: #fff;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 0 0 calc(33.333% - 1rem);
    margin-bottom: 1rem;
}
  