.backLog__container {
    margin: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #EBECF0;
    border-radius: 10px;
    width: 25%;
    height: fit-content;
    padding-bottom: 1rem;
}

h2 {
    height: 0rem;
    font-size: 1.125rem; 
    color: #000000;
    margin: 1rem 1rem;
    font-family: "Roboto", "Helvetica", sans-serif;
    font-weight: 400;
    line-height: 1.313rem;
    text-align: left;
}

.add-task button {
    display: flex;
    background-color: transparent;
    margin-left: 1rem;
    border: none;
    color: #5E6C84;
    font-family: "Roboto", "Helvetica", sans-serif;
    font-size: 1.125rem; 
    font-weight: 400;
    line-height: 1.313rem;
    text-align: left;
    cursor: pointer;
}