/* components/Ready.css */
.ready__container {
    margin: 2rem 2rem;
    display: flex;
    flex-direction: column;
    background-color: #EBECF0;
    border-radius: 10px;
    width: 20%;
    max-height: 300px; /* Установите желаемую максимальную высоту блока Ready */
    overflow-y: auto;
}

.ready__container h2 {
    height: 0rem;
    font-size: 1.125rem;
    color: #000000;
    margin: 1rem 1rem;
    font-family: "Roboto", "Helvetica", sans-serif;
    font-weight: 400;
    line-height: 1.313rem;
    text-align: left;
}

.ready__task-list {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: hidden; /* Прячем содержимое, которое не видно из-за максимальной высоты */
}

.ready__container .add-task button {
    margin: 1rem 1rem;
    display: flex;
    gap: 1rem;
    background-color: transparent;
    border: none;
    color: #5E6C84;
    font-family: "Roboto", "Helvetica", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.313rem;
    text-align: left;
    cursor: pointer;
}
